*{
    /* border: solid rgb(9, 255, 0); */
    font-family: sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    justify-content: space-evenly;
    padding: 30px;
    box-sizing: border-box
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.scorePara{
    font-size: 48px;
    font-weight: 900;
}

#container{
    align-items: center;
    /* justify-self: center;
    margin-top: auto;
    margin-bottom: auto; */

}

.rps-selector{
    /* height: 200px;
    width: 200px; */
    /* background-color: slategrey; */
    /* color: white; */
    font-size: x-large;
}

#play-again{
    font-size: 72px;
    font-weight: 800;
    align-self: center;
    background-color: bisque;
    color: black;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    display: none;
}

#overall-winner{
    display: none;
    font-size: 40px;
}

